@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  height: 480px;
  width: 700px;
  padding: 80px;
}

.custom-select  {
  border: none;
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  outline-offset: 0px;
}